.product-card {
  display: grid;
  background-color: $clr-white;
  border-radius: 10px;
  overflow: hidden;
  max-width: 343px;

  &__content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__category {
    font-family: $ff-base;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $clr-neutral-blue-gray;
  }

  &__title {
    font-family: $ff-accent;
    color: $clr-neutral-blue-dark;
    line-height: 1;
    font-size: clamp(2rem, 10vw, 2.125rem);
  }

  &__description{
    font-family: $ff-base;
    font-size:0.875rem;
    color: $clr-neutral-blue-gray;
    line-height: 1.6;
    margin-block-end: 0.5rem;
  }

  &__price-row{
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-block-end: 0.5rem;
  }

  &__price-new{
    font-family: $ff-accent;
    font-size: 2rem;
    color: $clr-primary-green
  }

  &__price-old{
    color: $clr-neutral-blue-gray;
    font-size: 0.8125rem;
  }

  &__button{
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    background-color: $clr-primary-green;
    color: $clr-white;
    padding-block: 0.9375rem;
    border-radius: 8px;
    font-weight: $fw-bold;
    font-family: $ff-base;
    transition: background-color 0.3s ease;

    &:hover, &:focus {
      background-color: $clr-primary-green-dark;
    }
  }

  @include mq-desktop {
    max-width: 600px;
    grid-template-columns: 1fr 1fr; 

    &__image {
      img {
        height: 100%;
        object-fit: cover;
      }
    }
    
    &__content {
      padding: 2.5rem; 
      justify-content: center; 
      gap: 1.5rem;
    }
    
    &__description {
      margin-block-end: 0;
    }
  }
}
