//colors
$clr-primary-green: hsl(158, 36%, 37%);
$clr-primary-green-dark: hsl(158, 42%, 18%);
$clr-neutral-cream: hsl(30, 38%, 92%);
$clr-neutral-blue-dark: hsl(212, 21%, 14%);
$clr-neutral-blue-gray: hsl(228, 12%, 48%);
$clr-white: hsl(0, 0%, 100%);

//typhography
$ff-base: 'Montserrat', sans-serif;
$ff-accent: 'Fraunces', serif;
$fw-medium: 500;
$fw-bold: 700;